@model LockAiMvc.Models.RequerimentoViewModel

@{
    ViewBag.Title = "Criar Novo Requerimento";
}
<!--
Insira aqui os TempData de Sucesso e erro para evitar tela da morte-->
<h2>Criar um navbarSupportedContent Requerimento</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Observacao, new { EndAddHtmlAttributeValues = new { @class = "form-control" } })
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Salvar" class="btn btn-prima]"/>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Retornar", "Index")
</div>


<form asp-action="Create" method="post">
    <div>
        <label>Momento</label>
        <input asp-for="Momento" class="form-control" />
    </div>
    <div>
        <label>Tipo de Requerimento</label>
        <input asp-for="TipoRequerimento" class="form-control" />
    </div>
    <div>
        <label>ID da Locação</label>
        <input asp-for="IdLocacao" class="form-control" />
    </div>
    <div>
        <label>Observação</label>
        <input asp-for="Observacao" class="form-control" />
    </div>
    <div>
        <label>Situação</label>
        <input asp-for="Situacao" class="form-control" />
    </div>
    <div>
        <label>Data de Atualização</label>
        <input asp-for="DataAtualizacao" class="form-control" />
    </div>
    <div>
        <label>ID do Usuário de Atualização</label>
        <input asp-for="IdUsuarioAtualizacao" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
